@font-face {
font-family: "Sunroll";
src: local("Sunroll"),
 url(./fonts/Sunroll-Bold.ttf) format("truetype")

}

@font-face {
font-family: "OnMyWay";
src: local("OnMyWay"),
 url(./fonts/OnMyWay.ttf) format("truetype")

}

@font-face {
font-family: "MoonwildDecorative";
src: local("MoonwildDecorative"),
 url(./fonts/MoonwildDecorative.ttf) format("truetype")

}

